<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork896-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center> <font size = 6>Hands-on Lab: Accessing Your Database using RJDBC</font></h1>

### Welcome!

In this hands-on lab, we will discover how to connect and query data from database servers with R using RJDBC.

<div class="alert alert-block alert-info" style="margin-top: 20px">
<h3>Tasks</h3>
<ol><ol><ol>
<li><a href="#refa">Load the RJDBC library</a></li>
<li><a href="#refb">Provide database credentials</a></li>
<li><a href="#refc">Connect to the database</a></li>
<li><a href="#refd">Execute a Query (and retrieve results)</a></li>
<li><a href="#refe">Dis-connect</a></li>
</ol></ol></ol>
<p></p>
Estimated Time Needed: <strong>10 min</strong>
</div>

**Pre-requisite**: In this lab we will use Jupyter Notebooks within SN Labs to access data in a Db2 on Cloud database using RJDBC.  Information about Jupyter notebooks, SN Labs, and Db2 services is provided in the previous labs.

<a id="refa"></a>

### a. Load the RJDBC library

The RJDBC package is pre-installed in SN Labs. Let’s load the RJDBC package by clicking on the following cell and executing it (Shift+Enter):

> Note: If you want to execute the lab in your local system you need to install RJDBC and required libraries using the code **install.packages(libraryname)**

In [11]:
library(DBI);
library(rJava);
library(RJDBC);

### b. Provide database credentials

To connect to your Db2 instance, you require the following details:
* Driver class
* Database name
* Hostname
* Port number
* Protocol
* Username
* Password

We will be using different variables to store this information, so that we can use these values at a later point of time when required.

Replace the values for **hostname, port number, username and password** by copying them from Service Credentials in your DB2 instance. 

For instructions on accessing **Db2 Service Credentials**, go to <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/LAB-0v6_Create_Database_Credentials.md.html?origin=www.coursera.org">Hands-on Lab: Create Db2 Service Credentials.</a>

>Note:This is just an example screenshot of service credentials. However these values will vary with respect to the DB2 instance which you create.

<details>
<summary>Click here to view/hide hint</summary>
<p>


<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork/labs/Lab%20-%20Accessing%20Your%20Database%20using%20RJDBC/images/servicecredentials.png">
    
    
    
</details>

In [12]:
#Enter the values for you database connection
dsn_driver = "com.ibm.db2.jcc.DB2Driver"
dsn_database = "bludb"            
dsn_hostname = "8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"   #replace <yourhostname> with your hostname from the Service credentials
dsn_port = "30120"                     #replace with the port number from Service Credentials 
dsn_protocol = "TCPIP"            
dsn_uid = "ghj90703"            #replace <username> with your username from Service Credentials
dsn_pwd = "RVYD3MsSGJE3j0MG"            #replace <password> with your password from Service Credentials

### c. Connect to the database

The next step is to:
* **Specify the database driver to be used:** Here, you will use the function **JDBC()** which takes 2 arguments i.e. the **driver classname** and the **classpath to the driver file**
* **Create a JDBC connection string:** Here, you will create the connection string to Db2 using details such as hostname, port and database name.

We will load the DB2 JDBC type 4 driver and create a driver object

>Note: You can download the db2jcc4.jar from the following  <a href ="https://www.ibm.com/support/pages/db2-jdbc-driver-versions-and-downloads">link</a> if you want to use it on your local system.

In [13]:

jcc = JDBC("com.ibm.db2.jcc.DB2Driver", "/home/jupyterlab/.rlang/db2jcc-db2jcc4.jar");         #Specifying the Db2 JDBC Type 4 driver  
jdbc_path = paste("jdbc:db2://",  dsn_hostname, ":", dsn_port, "/", dsn_database, sep="");

In [14]:
conn = dbConnect(jcc, jdbc_path, user=dsn_uid, password=dsn_pwd,sslConnection='true')

### d. Execute a Query

Here, you will:
* **Create a sample query:** Here, you will define a **select** statement to select rows from the Db2 system catalog table **SYSIBM.SYSSCHEMATA**
* **Use the function dbSendQuery() to query the table:** dbSendQuery() is a function available in the DBI library. dbSendQuery() function takes 2 arguments: **connection object and the SQL query** defined earlier. It returns the resultset from the database.
* **Use the function fetch() to get the results as a dataframe:** fetch() is a function available in the DBI library. This function takes 2 arguments: the **resultset** and the **number of records(n)**. Here, for example if n=2, we are retrieving 2 records from the table. 
* Here, n=-1 is used to retrieve all pending records.

In [15]:
query = "SELECT * FROM DEPARTMENTS";
rs = dbSendQuery(conn, query);
df = fetch(rs, -1);

Let’s examine the contents of the dataframe by looking at the first few rows:

In [16]:
head(df)

  DEPT_ID_DEP DEP_NAME        MANAGER_ID LOC_ID
1 2           Architect Group 30001      L0001
2 5           Software Group  30002      L0002
3 7           Design Team     30003      L0003

<a id="refe"></a>

### e. Dis-connect

Finally, as a best practice we should close the database connection once we're done with it.

In [17]:
dbDisconnect(conn)

[1] TRUE

### Practice exercises

##### 1. Provide the database credentials for your instance of **Db2**

In [18]:
#write your code here
dsn_driver = "com.ibm.db2.jcc.DB2Driver"
dsn_database = "bludb"
dsn_hostname = "8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
dsn_port = "30120"
dsn_protocol = "TCPIP"
dsn_uid = "ghj90703"
dsn_pwd = "RVYD3MsSGJE3j0MG"

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the following details
dsn_driver = "com.ibm.db2.jcc.DB2Driver"
dsn_database = "..."            
dsn_hostname = "<yourhostname>"  
dsn_port = "..."               
dsn_protocol = "..."           
dsn_uid = "<username>"        
dsn_pwd = "<password>"      
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
#Enter the values for you database connection
dsn_driver = "com.ibm.db2.jcc.DB2Driver"
dsn_database = "bludb"            # e.g. "bludb"
dsn_hostname = "<yourhostname>"   # e.g. replace <yourhostname> with your hostname
dsn_port = ""                # e.g. "3273" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "<username>"              # e.g. replace <username> with your userid
dsn_pwd = "<password>"            # e.g. replace <password> with your password
```

</details>

##### 2. Specify the database driver and then create a JDBC connection string.

In [19]:
#write your code here
jcc = JDBC("com.ibm.db2.jcc.DB2Driver", "/home/jupyterlab/.rlang/db2jcc-db2jcc4.jar")
jdbc_path = paste("jdbc:db2://",  dsn_hostname, ":", dsn_port, "/", dsn_database, sep="")

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the following details
jcc = JDBC("com.ibm.db2.jcc....r", "/home/jupyterlab/.rlang/db2jcc-db2jcc4.jar");
jdbc_path = paste("jdbc:db2://",  dsn_port, ":", ..., "/", dsn_database, ...);
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
jcc = JDBC("com.ibm.db2.jcc.DB2Driver", "/home/jupyterlab/.rlang/db2jcc-db2jcc4.jar");
jdbc_path = paste("jdbc:db2://",  dsn_hostname, ":", dsn_port, "/", dsn_database, sep="");
```

</details>

##### 3. Connect to the database

In [20]:
#write your code here
conn = dbConnect(jcc, jdbc_path, user=dsn_uid, password=dsn_pwd,sslConnection='true')

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
conn = dbConnect(..., ..., user=..., password=...,sslConnection='true')
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
conn = dbConnect(jcc, jdbc_path, user=dsn_uid, password=dsn_pwd,sslConnection='true')
```

</details>

##### 4. There are many Db2 System Catalog tables. SYSTABLES has got metadata of the system tables. This table can be accessed using table name SYSIBM.SYSTABLES. Execute a query to select all columns from the Db2 system catalog table SYSIBM.SYSTABLES and fetch the first 20 results into an R dataframe

In [ ]:
#write your code here
query = "SELECT * FROM SYSIBM.SYSTABLES"

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
Fill in the ...
query = "SELECT * FROM ...";
rs = dbSendQuery(...);
df = fetch(...);
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
query = "SELECT * FROM SYSIBM.SYSTABLES";
rs = dbSendQuery(conn,query);
df = fetch(rs,20);
```
</p>
</details>

##### 5. Disconnect from the database

In [ ]:
#write your code here

<details>
<summary>Click here to view/hide hint</summary>
<p>

```
# Fill in the ...
dbDisconnect(...)
```

</details>

<details>
<summary>Click here to view/hide solution</summary>
<p>

```
dbDisconnect(conn)
```

</details>

<a id="ref4g"></a>

### Summary

In this lab you accessed data in a Db2 on Cloud database using RJDBC connection from a R notebook in Jupyter, and fetched the results of a query for analysis in a R dataframe.

<HR>

#### Thank you for completing this lab on getting connected and querying databases using RJDBC.

<hr>

## Authors

*   [Rav Ahuja](https://ca.linkedin.com/in/rav-ahuja-8aa4562a?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
*   [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
*   [Sandip Saha Joy](https://www.linkedin.com/in/sandipsahajoy?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork23619267-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0103EN-SkillsNetwork-23619267&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
* [Shreya Khurana](https://www.linkedin.com/in/shreya-khurana-437211237/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0103ENSkillsNetwork896-2023-01-01)

## Changelog

| Date (YYYY-MM-DD) | Version | Changed By | Change Description |
| ----------------- | ------- | ---------- | ------------------ |
| 2023-03-27   | 2.2     | Shreya Khurana        | Created revised version of the lab|
| 2021-07-14   | 2.1     | Lakshmi Holla        | Added ssl information to connection string|
| 2021-01-22        | 2.0     | Sandip Saha Joy              | Created revised version of the lab |
| 2017              | 1.0     | Rav Ahuja & Agatha Colangelo | Created initial version of the lab |

<hr>

<h2 align=center><font size = 5>Copyright &copy; IBM Corporation 2017-2021. All rights reserved.</h2>